{% extends 'stock/base.html'%}
{% block content %}


<br>
        <form action="" method="post">{% csrf_token %}
            {{form}}
             {% comment %} {{form.as_p}} {% endcomment %}
            <button class='button'><span>Submit </span></button>
        </form>

<br>
         {% for label,data in mylist %}
         
            
            {% comment %} <ul class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold"> {{label}}</div>
                {{data}} 
                </div>
                <span class="badge bg-primary rounded-pill"></span>
            </li>

            </ul> {% endcomment %}

            <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

        {%endfor%}   
{{score}}
         



 
 {% endblock content %}

