{% extends 'stock/base.html'%}
{% block content %}







<form action="/account/register/">{% csrf_token %}
   <button class="btn btn-primary"  > REGISTER NOW </button>
</form>


<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">John Doe</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Predict Stock Price </h1>
      <h2>of any DAY</h2>
      <p> By just entering Symbol and date you can Predict the Stock of that symbol , which incldes Open , High , Low , Close , Volume , Dividends , Stock Splits </p>
      <p class="read-more">
        <a href="/home"> <button class="btn btn-primary"  > TRY NOW </button> </a>
      </p>
    </div>
  </div>

<br>


  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">Jane Doe</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Predict Graph of STOCK Flow</h1>
      <h2>you can predict up to 500 days</h2>
      <p> By the help of Machine Learning you can predict the Stock Flow from day 10 to 500 , you just need to enter Symbol and the date you want to predict in Graph , you can see all information like Open , High , Low , Close . </p>
      <p class="read-more">
         <a href="/chart"> <button class="btn btn-primary"  > TRY NOW </button> </a>
      </p>
    </div>
  </div>

  <br>
<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://plugg-d.in/images/tale2.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">John Doe</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Stock News  </h1>
      <h2>top latest news</h2>
      <p> Get top latest news of stock and Business from all over the WORLD , from Yahoo Finance  </p>
      <p class="read-more">
        <a href="/home"> <button class="btn btn-primary"  > TRY NOW </button> </a>
      </p>
    </div>
  </div>







{% endblock content %}


